[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "firmware-updater"]
	path = firmware-updater
	url = https://github.com/NafieAlhilaly/firmware-updater.git
